.titlebar{
    height: 70px;
    border-bottom: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E2D2D;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}